diDv {
    margin: 5px 5px;
}

.flex {
    margin-top: 60px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.biginfo {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 600px;
    border: solid grey 6px;
    font-size: 20px;
}